body {
  background-color: rgb(75,75,75);
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav {
  float: left;
}

.center {
  text-align: center;
  background-color: rgb(133,133,133);
}
